body {
  font-size: 14px;
}

.wrap-header{
  width: 600px;
  margin: 0 auto;/* margin 是外边距属性 0 表示上下边距为 0 auto 表示左右边距自动计算 */
}

// .logo {
//   background: url(../img/header.jpg) no-repeat 0 9999px;
// }

.wrap-h1{
  width: 100%;
  margin: 0 auto;
}
